In [ ]:
def mysum():
    """"
    이것은 덧셈 함수입니다.
    이 줄은 실행 안됨
    다만 docstring인 이유는 있습니다.
    """
    print("더했다!!!")

mysum()
mysum.__doc__

In [ ]:
print('hello');print('hihi')

In [ ]:
print('\
asdf')

In [ ]:
lunch = [
    '조치원짬뽕',
    '초밥',
    '김피탕',
    '치즈볶음밥'
]
print(lunch)
print(type(lunch))

In [ ]:
# 변수는 = 을 통해 할당 된다.
# type() 해당 자료형을 확인하기
# id() 해당 변수의 메모리 주소를 확인하기

In [ ]:
name = 'hoyeon'
print('hoyeon')
print(type(name))
print(id(name))

In [ ]:
x = 1
y = 2
z = 3
a = 4
print(a, x, y, z)
type(x)

In [ ]:
x,y = 1, 2, 3

In [ ]:
print(x, y)
x, y = y, x
print(x, y)

In [ ]:
a = 2
print(a**100)
type(a**156)

#### overflow
 데이터 타입 별로 사용할 수 있는 메모리의 크기가 제한되어 있다.
 표현할 수 있는 수의 범위를 넘어가는 연산을 하게 되면, 기대했던 각ㅄ이 출력되지 않는 현상, 즉 메모리가 차고 넘쳐 흐르는 현상
#### arbitrary-precision arithmetic
 - 파이썬에서 아주 큰 정수를 표현할 떄 사용하는 메모리의 크기 변화
 - 사용할 수 있는 메모리양이 정해져 있는 기존의 방식과 달리, 현재 남아있는 만큼의 가용 메모리를 모두 수 표현에 끌어다 쓸 수 있는 형태
 - 특정 값을 나타내는데 4바이트가 부족하다면 5바이트, 더 부족하다면 6바이트까지 사용 할 수 있게 유동적으로 운용.

In [3]:
#파이썬에서 가장 큰 숫자를 활용하기 위해 sys 모듈을 불러 옵니다.
#파이썬은 기존 C계열 프로그래밍 언어와 다르게 정수 자료형에서 오버플로우가 없다.
# arbitrary-precision arithmetic를 사용하기 때문이다.
import sys
max_int = sys.maxsize
print(max_int)
print(2**63-1)
super_max = max_int*max_int
print(super_max)
hyper_max = super_max*super_max
print(hyper_max)

9223372036854775807
9223372036854775807
85070591730234615847396907784232501249
7237005577332262210834635695349653859421902880380109739573089701262786560001

In [5]:
a = 3.14
type(a)

float

In [10]:
b = 123124e-3
print(type(b))
print(b)

<class 'float'>
123.124

In [16]:
round(5.1 - 3.11,2)

1.99

In [21]:
a = 5.1-3.11
b = 1.99
abs(a-b) <= 1e-10

True

In [23]:
import math
math.isclose(a,b)

True

In [25]:
a = 3-4j
type(a)

complex

In [31]:
print(a.imag)
print(a.real)
print(a.conjugate())

-4.0
3.0
(3+4j)

In [34]:
print(type(True))
type(False)

<class 'bool'>

bool

In [36]:
print(bool(0))
print(bool(1))
print(bool(False))
print(bool(True))
print(bool([1,2,3]))
print(bool([]))
print(bool('asdf'))
print(bool(''))

False
True
False
True
True
False
True
False

In [38]:
a = 'hello'
print(type(a))

<class 'str'>

In [41]:
age = input()
print(age)
print(type(age))

123
123
<class 'str'>

In [43]:
print('엄마가 말했다.\'호연아 밥먹어라!!!!\'')

엄마가 말했다.'호연아 밥먹어라!!!!'

In [45]:
print("""
첫번째 문장
두번째 문장
세번째 문장
""")

첫번째 문장
두번째 문장
세번째 문장

In [53]:
print('안녕하세요\n 그리고 \t 반갑습니다')
print('123456789\rabcd')
print('1$는 1200\\입니다.')
print('123\0 456')

안녕하세요
 그리고 	 반갑습니다
abcd
1$는 1200\입니다.
123  456

In [59]:
print('내용을 출력해보자', end='\n')
print('옆으로 붙여라')

내용을 출력해보자
옆으로 붙여라

In [64]:
print('다른것도 가능합니다',end='!!!!!!!!!!!!!!!')
print('이것도',end = '????????????????')
print('기본으로는 print는 개행"/n"을 한다.')

다른것도 가능합니다!!!!!!!!!!!!!!!이것도????????????????기본으로는 print는 개행"/n"을 한다.

In [73]:
name = 'hoyeon'
print('반갑습니다%s'%name)
'반갑습니다{}{}{}'.format(name, name, name)
f'반갑습니다. 제 이름은{name} 입니다'

반갑습니다hoyeon

'반갑습니다. 제 이름은hoyeon 입니다'

In [79]:
import datetime
today = datetime.datetime.now()
print(today)
print(f'오늘은 {today:%Y}년 {today:%M}월 {today:%d}일 입니다.')
pi = 3.14
f'원주율은 {pi}입니다. 반지름이 2일때 원의 넓이는 {pi*2*2}입니다.'

2019-07-25 16:31:40.148847
오늘은 2019년 31월 25일 입니다.

'원주율은 3.14입니다. 반지름이 2일때 원의 넓이는 12.56입니다.'

In [82]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

In [88]:
print(5/2)
print(5//2)
print(100%8)

2.5
2
4

In [90]:
print(divmod(5,2))

(2, 1)

In [92]:
print(-pi)

-3.14

In [99]:
3>6
3!=4
3.0==3
'hi'=='hi'

True

In [107]:
True and True
True and False
False and True
True or False
not True
not '안녕하세요'

False

In [110]:
a+=b
a= a + b
a-=b
a= a-b
a*=b
a = a*b
a/=b
a= a/b
a//= b
a = a//b
a%=b
a = a%b
a**=
a = a**b

SyntaxError: invalid syntax (<ipython-input-110-6faeeb9f605d>, line 13)

In [113]:
cnt = 0
while cnt<5 :
    print(cnt, 'hello')
    cnt += 1
cnt

0 hello
1 hello
2 hello
3 hello
4 hello

5

In [117]:
'' + 'b' + 'y' + 'e'

'bye'

In [122]:
food = ['조치원짬뽕', '짜장면', '짬뽕']
menu = ['1', '2', '3']
food + menu

['조치원짬뽕', '짜장면', '짬뽕', '1', '2', '3']

In [123]:
'짜장면' in food

True

In [125]:
'1' in menu

True

In [126]:
30 in range(1,50)

True

In [129]:
a = 5
b = 5
a is b

True

In [143]:
'hello'[::-1]

'olleh'

## 연산자 우선순위
0. ()
1. slicing
2. Indexing
3. 제곱연산자**
4. 단항연산자 + -(부호)
5. 산술연산자 * / %
6. 산술연산자 + -
7. 비교연산자 in is
8. not
9. and
10. or

In [147]:
l = [0] * 6
print(l)
a = 'hi' * 10
print(a)

[0, 0, 0, 0, 0, 0]
hihihihihihihihihihi

In [154]:
location = ['서울', '대전', '광주', '구미']
location[:3]

['서울', '대전', '광주']

In [167]:
numbers = list(range(31))
print(numbers)
numbers[0:30:3]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [172]:
len(numbers)
min(numbers)
max(numbers)

30

In [175]:
numbers = [1,2,3,3]
numbers.count(1)

1

In [184]:
a = [1,2,3,3,3,3]
b = {3,6,9}
print(my_list) # set은 중복이 없다.
my_list = set(a)
print(list(my_list))

{1, 2, 3}
[1, 2, 3]

In [188]:
phone_book = {
    "서울": "02",
    "경기": "031",
    "인천": "032"
}
phone_book["서울"]
#dictionary['key'] = 'value'
phone_book.keys()
phone_book.values()
phone_book.items()

dict_items([('서울', '02'), ('경기', '031'), ('인천', '032')])

In [193]:
a = input()
sum = 0
for i in a:
    num = int(i)
    sum += num
print(sum)

6789
30

In [201]:
a = input().split(' ')
if a == ['1', '2']:
    print('B')
elif a == ['2', '3']:
    print('B')
elif a == ['3', '1']:
    print('B')
else:
    print('A')

3 2
A

In [215]:
num = int(input())
for i in range(num):
    print('#',end="")

3
###

In [219]:
headline = input()
print(headline.upper())

headline = input() print(headline.upper())
HEADLINE = INPUT() PRINT(HEADLINE.UPPER())

In [229]:
natural_num = input().split(' ')
print(int(natural_num[0]) + int(natural_num[1]))
print(int(natural_num[0]) - int(natural_num[1]))
print(int(natural_num[0]) * int(natural_num[1]))
print(int(natural_num[0]) // int(natural_num[1]))

100 3
103
97
300
33

In [235]:
num = int(input())
sum = 0
for i in range(1,num+1):
    sum += i
print(sum)

100
5050

In [238]:
st = input().split(' ')
print(int(st[0]) - int(st[1]) + 1)

845 168
678

In [254]:
alpa = input()
for i in list(alpa):
    print(ord(i)-64,end=' ')

ABCDEFGHIJKLMNOPQRSTUVWXYZ
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26

In [290]:
a = int(input())

for i in range(1, a+1):
    b = input()
    c = b.split(' ')
    sum = 0
    for j in c:
        d = int(j)
        if d % 2:
            sum = sum + d
print(c[a//2])

1
1 2 5 6
1

In [ ]:
T = int(input())

for i in range(1, T+1):
    number = input()
    num = number.split(' ')
    year = number[:4]
    month = number[4:6]
    day = number[6:8]
    '#{} {}/{}/{}'.format(i, year, month, day)

In [288]:
number = int(input())
number_list = input()
num = list(map(int, number_list.split()))
num.sort()
print(num [number//2])

199
85 72 38 80 69 65 68 96 22 49 67 51 61 63 87 66 24 80 83 71 60 64 52 90 60 49 31 23 99 94 11 25 24 51 15 13 39 67 97 19 76 12 33 99 18 92 35 74 0 95 71 39 33 39 32 37 45 57 71 95 5 71 24 86 8 51 54 74 24 75 70 33 63 29 99 59 94 52 13 35 99 46 57 71 23 17 3 94 48 77 18 83 11 83 25 59 62 2 78 86 7 94 65 80 32 39 84 60 65 72 61 58 84 8 72 12 19 47 49 49 59 71 52 34 22 21 20 92 33 80 39 74 9 28 97 100 93 29 25 4 66 79 81 98 21 91 62 82 4 59 100 34 1 51 80 92 69 77 39 38 97 51 34 35 19 22 1 67 9 90 31 82 11 51 84 78 70 74 42 100 88 53 80 57 62 32 51 48 63 92 46 4 61 31 98 69 52 88 20
58

In [306]:
number = input()
print(type(number))
year = number[:4]
month = number[4:6]
day = number[6:8]
print(year)
print(month)
print(day)

for i in range(1,T+1):
    if:
        print(f'#{i} {year}/{month}/{day}')
    else:
        print('-1')

20190725
<class 'str'>
2019
07
25
2019/07,25